<div class="row mt-5 d-flex justify-content-center">

    <div class="card">

        <div class="card-header">

            <div class="row text-center">
                <h2>
                    Ingrese los datos de envío:
                </h2>
            </div>

        </div>
        <div class="card-body">

            <form [formGroup]="formPedido" (ngSubmit)="hacerPedido($event)">

                <div class="row justify-content-center justify-content-center">
                    <div class="col-10">
                        <label for="calle">Calle:</label>

                        <input class="form-control" type="text" formControlName="calle">
                    </div>
                </div>

                <br>

                <div class="row justify-content-center ">
                    <div class="col-10">
                        <label for="numero">Número:</label>

                        <input class="form-control" type="text" formControlName="numero">
                    </div>
                </div>

                <br>

                <div class="row justify-content-center">
                    <div class="col-10">
                        <label for="provincia">Provincia:</label>

                        <input class="form-control" type="text" formControlName="provincia">
                    </div>
                </div>

                <br>

                <div class="row justify-content-center">
                    <div class="col-10">
                        <label for="poblacion">Población:</label>

                        <input class="form-control" type="text" formControlName="poblacion">
                    </div>
                </div>

                <br>

                <div class="row justify-content-center">
                    <div class="col-10">
                        <label for="codigo_postal">Código Postal:</label>

                        <input class="form-control" type="text" formControlName="codigo_postal">
                    </div>
                </div>

                <br>

                <div class="row justify-content-center">
                    <div class="col-10">
                        <label for="telefono">Telefono:</label>

                        <input class="form-control" type="number" formControlName="telefono">
                    </div>
                </div>

                <br>

                <div class="row justify-content-center">
                    <div class="col-10">
                        <label for="contacto">Persona de Contacto:</label>

                        <input class="form-control" type="text" formControlName="contacto">
                    </div>
                </div>

                <br>

                <div class="row justify-content-center text-end">
                    <div class="col-10">
                        <button type="submit" class="btn btn-primary" [disabled]="formPedido.invalid">Confirmar pedido</button>
                    </div>
                </div>

            </form>



        </div>

    </div>

</div>