.fa-shopping-basket:hover {
    color: rgb(228, 227, 220);
}

.fa-power-off:hover {
    color: rgb(255, 6, 6);
}

.fa-glasses:hover {
    color: rgb(228, 227, 220);
}

.header {
    background-color: rgb(39, 89, 131);
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.alargador {
    width: 33%;
}

.c-buscador {
    width: 34%;
}

.listado {
    width: 34%;
    z-index: 8;
    position: absolute;
}

.menu {
    width: 33%;
}

.icono:hover {
    color: rgb(228, 227, 220);
}

.fas {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px
}

.icono {
    color: rgb(132, 133, 131);
}

.fa-power-off {
    color: rgb(132, 133, 131);
}

.fa-glasses {
    color: rgb(132, 133, 131);
}

.fa-shopping-basket {
    color: rgb(132, 133, 131);
}

.fa-search {
    color: rgb(132, 133, 131);
}

.input-group {
    background-color: white;
    border-color: white;
    border-radius: 5%;
}

.input-group-prepend:hover .fa-search {
    color: rgb(120, 190, 247);
    cursor: pointer;
}

.input-group-text {
    background-color: white;
    border-color: white;
}

input {
    border-color: white;
}

.listado {
    z-index: 8;
}

.listado li {
    list-style: none;
    background-color: white;
    width: 90%;
}

br {
    display: block;
    line-height: 150%;
}

.articulo {
    background-color: white;
    opacity: 0.6;
}

.articulo:hover {
    background-color: rgb(230, 234, 236);
    cursor: pointer;
}


/* .busqueda {
    border-bottom: black;
    border-bottom-style: ridge;
} */