.fa-shopping-basket:hover {
    color: rgb(94, 224, 94);
}

.fa-power-off:hover {
    color: firebrick;
}

.fa-glasses:hover {
    color: rgb(8, 133, 236);
}

.header {
    background-color: black;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.alargador {
    width: inherit;
}

.icono:hover {
    color: white;
}

.fas {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px
}

.icono {
    color: rgb(132, 133, 131);
}

.fa-power-off {
    color: rgb(132, 133, 131);
}

.fa-glasses {
    color: rgb(132, 133, 131);
}

.fa-shopping-basket {
    color: rgb(132, 133, 131);
}