img {
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

input {
    text-align: right;
}

label {
    font-weight: bold;
}

.stock {
    text-align: center;
}

.inimagen {
    width: 300px
}

.inputs {
    margin: 5px;
}

.actualizar {
    width: 100%;
    margin-top: 10px;
}

.card {
    margin: 10px;
    border-color: rgb(39, 89, 131);
    background: rgb(245, 247, 248);
    color: rgb(39, 89, 131);
    box-shadow: 0px 10px 10px rgb(128, 128, 128);
}

.card-header {
    border: none;
    background: white;
}

.update:hover {
    background-color: rgb(39, 89, 131);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
}

.update {
    background-color: white;
    border: none;
    color: rgb(39, 89, 131);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    font-weight: bold;
}

.danger:hover {
    background-color: firebrick;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
}

.danger {
    background-color: white;
    border: none;
    color: firebrick;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    font-weight: bold;
}

.alcarro {
    background-color: white;
    border: none;
    color: rgb(46, 124, 10);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    font-weight: bold;
}

.alcarro:hover {
    background-color: rgb(46, 124, 10);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    font-weight: bold;
}