<div class="row actualizar">
    <form [formGroup]="actualizarArticuloForm" (ngSubmit)="actualizar()">
        <div class="row formulario ">

            <div class="col d-flex justify-content-center">

                <div class="card" style="width: 50rem; height:52rem">

                    <div class="card-header">
                        <b>Actualizar artículo</b>
                    </div>

                    <div class="card-body">

                        <div class="col">

                            <div class="row">

                                <div class="row">
                                    <div class="col">
                                        <img class="text-end" [src]="imagen.imagen" tab="imagen" width="150px" height="150px" #img>
                                    </div>
                                </div>

                                <div class="row inputs">
                                    <div class="col-4">
                                        <label for="articulo">Imagen del artículo:</label>
                                    </div>
                                    <div class="col-8">
                                        <input [ngClass]="(perfil == 1)?  'visible': 'invisible'" class="inimagen form-control" type="file" alt="articulo" accept="image/png, image/jpeg" formControlName="imagen" (change)="establecerImagen( $event.target )">
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="row inputs ">
                            <div class="col-4">
                                <label for="articulo">Nombre del artículo:</label>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="text" formControlName="articulo">
                            </div>
                        </div>

                        <div class="row inputs ">
                            <div class="col-4">
                                <label for="descripcion">Descripción:</label>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="text" formControlName="descripcion">
                            </div>
                        </div>

                        <div class="row inputs ">
                            <div class="col-4">
                                <label for="fabricante">Fabricante:</label>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="text" formControlName="fabricante">
                            </div>
                        </div>

                        <div class="row inputs ">
                            <div class="col-4">
                                <label for="peso">Peso (en Kg.):</label>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="number" formControlName="peso">
                            </div>
                        </div>

                        <div class="row inputs ">
                            <div class="col-4">
                                <label for="largo">Largo (en mts.):</label>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="number" formControlName="largo">
                            </div>
                        </div>

                        <div class="row inputs ">
                            <div class="col-4">
                                <label for="ancho">Ancho (en mts.):</label>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="number" formControlName="ancho">
                            </div>
                        </div>

                        <div class="row inputs ">
                            <div class="col-4">
                                <label for="alto">Alto (en mts.):</label>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="number" formControlName="alto">
                            </div>
                        </div>

                        <div class="row inputs ">
                            <div class="col-4">
                                <label for="precio">Precio:</label>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="number" formControlName="precio">
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-6 text-end">
                                <label for="precio" class="">Stock actual:</label>
                            </div>
                            <div class="col-6">
                                <label for="precio" class="">Añadir Stock:</label>
                            </div>
                        </div>

                        <div class="row inputs ">
                            <div class="col-4">
                                <label for="precio">Stock almacén 1:</label>
                            </div>
                            <div class="col-2 stock">
                                <input class="form-control" type="number" formControlName="stock1v" readonly>
                            </div>
                            <div class="col-6">
                                <input class="form-control" type="number" formControlName="stock1">
                            </div>
                        </div>

                        <div class="row inputs ">
                            <div class="col-4">
                                <label for="precio">Stock almacén 2:</label>
                            </div>
                            <div class="col-2 stock">
                                <input class="form-control" type="number" formControlName="stock2v" readonly>
                            </div>
                            <div class="col-6">
                                <input class="form-control" type="number" formControlName="stock2">
                            </div>
                        </div>

                        <div class="row inputs ">
                            <div class="col-4">
                                <label for="precio">Stock almacén 3:</label>
                            </div>
                            <div class="col-2 stock">
                                <input class="form-control" type="number" formControlName="stock3v" readonly>
                            </div>
                            <div class="col-6">
                                <input class="form-control" type="number" formControlName="stock3">
                            </div>
                        </div>

                        <div class="row d-flex justify-content-end">

                            <div class="col-2">
                                <button type="submit" class="btn update" [disabled]="actualizarArticuloForm.invalid || articulo.iD_ESTADO_ARTICULO == 2">Actualizar</button>
                            </div>

                            <div class="col-2">
                                <button type="button" class="btn danger" [disabled]="articulo.iD_ESTADO_ARTICULO == 2" (click)="borrarArticulo()">Borrar</button>
                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>

        <div class="card position-absolute top-0 end-0" style="width: 15rem; height:10.5rem">

            <div class="card-header">
                <b>Carrito</b>
            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <label for="anadir">Cantidad a añadir:</label>
                    </div>

                    <div class="col d-flex justify-content-center">
                        <input class="form-control" type="number" formControlName="anadir">
                    </div>

                    <div class="col d-flex justify-content-center">
                        <button type="submit" class="btn alcarro" [disabled]="actualizarArticuloForm.get('anadir')?.invalid" (click)="agregarArticulo( $event )"><i class="fas fa-cart-arrow-down"></i> Añadir al carrito</button>
                    </div>
                </div>

            </div>

        </div>

    </form>

</div>