.menu:hover
{
    background-color: rgb(8, 133, 236);
    cursor: pointer;
}

.subMenu:hover {
    background-color: rgb(8, 133, 236);
    color: black;
    cursor: pointer;
}

.menu:hover .fa-plus{
    color: rgb(7, 7, 7);
}

.menu {
    color: rgb(242, 245, 248);
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.sidem {
    font-size: 1.2em;
}

.usuario {
    font-size: 1.5rem;
    font-family: 'Segoe UI';
    color: white;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.usuario:hover {
   
    cursor: pointer;
}

.imgperfil:hover {
    cursor: pointer;
}

.subMenu {

    list-style: none;
    padding-left: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: rgb(132, 133, 131);
}

.bar{
    width: 350px;
}

.fa-plus{
    color: rgb(132, 133, 131);
}