.menu:hover {
    background-color: rgb(17, 80, 131);
    cursor: pointer;
    color: white;
}

.subMenu:hover {
    background-color: rgb(39, 89, 131);
    color: white;
    cursor: pointer;
}

.menu:hover .fa-plus {
    color: rgb(120, 190, 247);
}

.menu {
    color: rgb(132, 133, 131);
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.sidem {
    font-size: 1.2em;
}

.usuario {
    font-size: 1.5rem;
    font-family: 'Segoe UI';
    color: rgb(132, 133, 131);
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.usuario:hover {
    cursor: pointer;
}

.imgperfil:hover {
    cursor: pointer;
}

.subMenu {
    list-style: none;
    padding-left: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: rgb(132, 133, 131);
}

.bar {
    width: 350px;
}

.fa-plus {
    color: rgb(132, 133, 131);
}

.fa-atom:hover {
    color: rgb(228, 227, 220);
}

.nombre:hover {
    color: rgb(228, 227, 220);
}