.pedido {
    width: 100%;
}

.card {
    width: 40rem;
    padding: unset;
}

.hr {
    border-top: rgb(39, 89, 131);
    border-style: solid;
    padding: unset;
}

.row {
    margin: 0px;
}

img {
    vertical-align: unset;
    cursor: pointer;
}

.card-header,
.card-footer {
    background-color: rgb(39, 89, 131);
    color: white;
}

button:hover .fas,
.fas:hover {
    cursor: pointer;
    color: red;
}

.minus,
.plus {
    border-style: none;
    background-color: white;
}

b {
    box-shadow: 2px 2px 2px rgb(128, 128, 128);
}

.inactivo {
    color: red;
    font-weight: bold;
}

.activo {
    color: rgb(45, 155, 0);
    font-weight: bold;
}