<div class="row pedido mt-5 d-flex justify-content-center">

    <div class="card">

        <div class="card-header">

            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-3 text-center">
                    cantidad
                </div>
                <div class="col-6">
                    artículo
                </div>
            </div>

        </div>

        <div class="card-body">

            <div class="row" *ngFor="let carrito of carritos">

                <div class="col-3 text-center">
                    <img [src]="carrito.imagen" width="50px" height="50px">
                </div>

                <div class="col-3 text-center">
                    {{ carrito.cantidad }}
                </div>

                <div class="col-6">
                    {{ carrito.nombre_articulo }}
                </div>

                <hr>

            </div>


        </div>



        <div class="card-footer">


            <div class="row">

                <div class="col-9">
                    <button type="button" class="btn btn-success float-end" [routerLink]="['/crear-pedido']" routerLinkActive="true">
               Crear pedido
        </button>
                </div>

                <div class="col-3">
                    <button type="button" class="btn btn-danger" (click)="vaciarCarrito()">
                Vaciar carrito
        </button>
                </div>

            </div>


        </div>

    </div>

</div>