.pedido {
    width: 100%;
}

.card {
    width: 40rem;
    padding: unset;
}

.hr {
    border-top: rgb(39, 89, 131);
    border-style: solid;
    padding: unset;
}

.row {
    margin: 0px;
}

img {
    vertical-align: unset;
}

.card-header,
.card-footer {
    background-color: rgb(39, 89, 131);
    color: white;
}

.fas:hover {
    cursor: pointer;
    color: red;
}