<div class="row pedido mt-5 d-flex justify-content-center">

    <div class="card">

        <div class="card-header">

            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-2 text-center">
                    Cantidad
                </div>
                <div class="col-3">

                </div>
                <div class="col-4">
                    Artículo
                </div>
            </div>

        </div>

        <div class="card-body">

            <div class="row" *ngFor="let carrito of carritos">

                <div class="col-3">
                    <p [ngClass]="carrito.estado == 1? '':'d-none '" class="activo">Disponible</p>
                    <p [ngClass]="carrito.estado == 2? '':'d-none '" class="inactivo"> Últimas unidades</p>
                </div>

                <div class="col-2 text-center">
                    <img [src]="carrito.imagen" width="50px" height="50px" [routerLink]="['/articulos/actualizar']" [queryParams]="{id_articulo: carrito.id_articulo}" routerLinkActive="true">
                </div>

                <div class="col-3 text-center">
                    <button class="minus" (click)="restar(carrito.id_articulo)">
                        <i class="fas fa-minus" ></i>
                    </button>
                    <b>  {{ cantidad[carrito.id_articulo] }}  </b>
                    <button class="plus" (click)="sumar(carrito.id_articulo)">
                        <i class="fas fa-plus" ></i>
                    </button>
                </div>

                <div class="col-3">
                    {{ carrito.nombre_articulo }}
                </div>

                <div class="col-1">
                    <i class="fas fa-trash-alt" (click)="eliminarArticulo(carrito.id_articulo)"></i>
                </div>

                <hr>

            </div>


        </div>



        <div class="card-footer">


            <div class="row">

                <div class="col-9">
                    <button type="button" class="btn btn-success float-end" [routerLink]="['/crear-pedido']" routerLinkActive="true">
                        Crear pedido
                    </button>
                </div>

                <div class="col-3">
                    <button type="button" class="btn btn-danger" (click)="vaciarCarrito()">
                            Vaciar carrito
                    </button>
                </div>

            </div>


        </div>

    </div>

</div>