<form [formGroup]="crearArticuloForm" (ngSubmit)="crearArticulo()">
    <div class="row">

        <div class="col-8">

            <div class="row inputs ">
                <div class="col-4">
                    <label for="articulo">Nombre del artículo:</label>
                </div>
                <div class="col-8">
                    <input class="form-control" type="text" formControlName="articulo">
                </div>
            </div>

            <div class="row inputs ">
                <div class="col-4">
                    <label for="descripcion">Descripción:</label>
                </div>
                <div class="col-8">
                    <input class="form-control" type="text" formControlName="descripcion">
                </div>
            </div>

            <div class="row inputs ">
                <div class="col-4">
                    <label for="fabricante">Fabricante:</label>
                </div>
                <div class="col-8">
                    <input class="form-control" type="text" formControlName="fabricante">
                </div>
            </div>

            <div class="row inputs ">
                <div class="col-4">
                    <label for="peso">Peso (en Kg.):</label>
                </div>
                <div class="col-8">
                    <input class="form-control" type="number" formControlName="peso">
                </div>
            </div>

            <div class="row inputs ">
                <div class="col-4">
                    <label for="largo">Largo (en mts.):</label>
                </div>
                <div class="col-8">
                    <input class="form-control" type="number" formControlName="largo">
                </div>
            </div>

            <div class="row inputs ">
                <div class="col-4">
                    <label for="ancho">Ancho (en mts.):</label>
                </div>
                <div class="col-8">
                    <input class="form-control" type="number" formControlName="ancho">
                </div>
            </div>

            <div class="row inputs ">
                <div class="col-4">
                    <label for="alto">Alto (en mts.):</label>
                </div>
                <div class="col-8">
                    <input class="form-control" type="number" formControlName="alto">
                </div>
            </div>

            <div class="row inputs ">
                <div class="col-4">
                    <label for="precio">Precio:</label>
                </div>
                <div class="col-8">
                    <input class="form-control" type="number" formControlName="precio">
                </div>
            </div>

            <div class="row inputs ">
                <div class="col-4">
                    <label for="precio">Stock almacén 1:</label>
                </div>
                <div class="col-8">
                    <input class="form-control" type="number" formControlName="stock1">
                </div>
            </div>

            <div class="row inputs ">
                <div class="col-4">
                    <label for="precio">Stock almacén 2:</label>
                </div>
                <div class="col-8">
                    <input class="form-control" type="number" formControlName="stock2">
                </div>
            </div>

            <div class="row inputs ">
                <div class="col-4">
                    <label for="precio">Stock almacén 3:</label>
                </div>
                <div class="col-8">
                    <input class="form-control" type="number" formControlName="stock3">
                </div>
            </div>

            <div class="row">
                <div class="col-3 text-center">
                    <button type="submit" class="btn btn-info" [disabled]="crearArticuloForm.invalid">Crear Artículo</button>
                </div>
            </div>

        </div>

        <div class="col-4">
            <img [src]="imagen.imagen" tab="imagen" width="200px" height="200px" #img>
            <input class="form-control" type="file" alt="articulo" accept="image/png, image/jpeg" formControlName="imagen" (change)="establecerImagen($event.target)">
        </div>
    </div>
</form>