.headfoot {
    background-color: rgb(39, 89, 131);
}

.sidebarv {
    background-color: rgb(39, 89, 131);
    height: 100%;
    width: 350px;
    z-index: 5;
    border-top-color: rgb(244, 246, 248);
    border-top-style: solid;
    border-width: 0.03rem;
}

.sidebari {
    background-color: rgb(10, 10, 10);
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: 4;
}

.contenido {
    height: 100%;
    width: 100%;
    background: rgb(240, 243, 245);
    overflow: auto;
}

.invisible {
    display: none;
}