/* You can add global styles to this file, and also import other style files */

body {
    background-color: rgb(240, 243, 245);
}

.fa-check {
    color: rgb(40, 218, 48);
}

.fa-times {
    color: red;
}